.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: var(--link-color);
}

.projects .btn {
  width: auto;
  margin: auto;
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.btn span, .btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--link-color);
}

.btn--primary {
  border: 1px solid var(--border-color);
}