.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}

.contact p {
  text-align: center;
}

.contact .btn {
  width: auto;
}

.contact .email {
  text-transform: lowercase;
}