/* Variáveis globais */
:root{
  /* Fonts */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-secondary: "Albert Sans", sans-serif;

  /* Weight */
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-x: 2rem;
  --fs-xl: 3rem;

  /* Letter-spacing */
  --ls-sm: 0.03em;
  --ls-base: 0.06em;
  --ls-md: 0.1em;
  --ls-lg: 0.01em;
  --ls-x: 0.005em;
  --ls-xl: 0em;

  --px-lg: 1.5rem;
  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

  /* Color Scheme */

  --text-color: #00667E;
  --primary-color: #00667E;
  --secondary-color: #006871;
  --tertiary-color: #1B6486;

  --primary-container: #B5E9FE;
  --secondary-container: #9FEFFA;
  --tertiary-container: #C5E6FE;

  --on-primary-container: #00667E;
  --primary-fixed: #86CFEA;
  --on-secondary-container: #004E55;
  --secondary-fixed: #7ED2DD;
  --on-tertiary-container: #004B6A;
  --tertiary-fixed: #8FCCF4;

  --surfaca-dimm: d6dbde;
  --surface-color: #F5FAFD;

  --on-surface: #171c1f;
  --on-surface-var: rgb(63, 72, 74);

  --highlight-color: rgba(63, 72, 74, .2);

  --outline: #6F797A;
  --outline-variant: #BFC8CA;


  --switch-bg-url: url(/assets/icons/sun.svg);
}

:root[data-theme='dark'] {
  --primary-color: #82B1C3;
  --bg-color: #13141F;

  --primary-bg-color: #111217;
  --secondary-bg-color: rgba(0, 75, 106, 0.3);
  --primary-border-color: #28292E;
	--secondary-border-color: #56575A;

  /* --title-color: #F0F0F0; */
  --title-color: var(--primary-color);
  --text-color: #82B1C3;
  --link-color: #82B1C3;
  --icon-color: #C7C8C9;
  --border-color: #82B1C3;
  

  --switch-bg-url: url(/assets/icons/moon-stars.svg);

  #switch button {
   left: 0%; /* Dark Mode position */
  }
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;
  --bg-color: #004B6A;

	--primary-bg-color: #E9E9E9;
	--secondary-bg-color: rgba(9, 52, 94, 0.4);
	--primary-border-color: #9A9A9C;
	--secondary-border-color: #9A9A9C;

	--title-color: #86CFEA;
	--text-color: #82B1C3;
	--link-color: #86cfea;
	--icon-color: #56575A;
  --border-color: #82B1C3;

  --switch-bg-url: url(/assets/icons/sun.svg);

  #switch button {
    left: 40%; /* Light Mode position */
  }
}

html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    font-family: var(--ff-primary);
    z-index: 0;
    position: relative;
    width: 100%;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

a, i {
  text-decoration: none;
  color: var(--secondary-fixed);
}

a:hover, i:hover {
  color: var(--primary-container);
}

b {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-base);
  letter-spacing: 1.5em;
}

h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  text-align: center;
  letter-spacing: var(--ls-xl);
}

h3 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-md);
  letter-spacing: var(--ls-lg);
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: var(--fw-base);
  font-size: var(--fs-md);
  letter-spacing: var(--ls-md);
  text-align: left;
}

h1, h2, h3 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: var(--title-color);
}

p, span, li {
  font-size: var(--fs-base);
  letter-spacing: var(--ls-base);
  font-weight: var(--fw-base);
}

p {
  font-family: var(--ff-secondary);
  text-align: justify;
  line-height: 150%;
}

.menu__item {
  font-size: var(--fs-lg);
}